@import "lib/vars";
@import "lib/mixins";
@import "lib/reboot";
@import "lib/fontawesome/font-awesome";

@import "lib/keyframes";

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  color: rgb(238, 130, 57);
  font-size: 2rem;
  margin-top: -1rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.marte {
  text-align: center;
  //margin-left: 2rem;
}

.verticalLine {
  position: absolute;
  border: 2px solid #d55530;
  transform: rotate(90deg);
  margin-top: 5rem;
  width: 70px;
  left: 48.2%;
}

.date {
  text-align: center;
  color: white;
  margin-top: -16rem;
}

.temp {
  margin-left: -7rem;
  text-align: center;
  color: #464646;
  margin-top: 5.4rem;
}

.datos_guardados{
  margin-top: -4.8rem;
  text-align: center;
  margin-left: 6rem;
  color: #464646;
  
}

.wind {
  text-align: center;
  color: #464646;
  margin-left: 5.4rem;
  margin-top: -4.8rem;

  //icono viento
  &__direction {
    position: absolute;
    background-color: rgb(255, 243, 234);
    margin-top: -4.5rem;
    width: 70px;
    left: 58%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -4rem;
    //
    display: grid;
    place-items: center;
  }

  &__arrow {
    /* update Custom Props in JS
        to update the direction */
    --direction: 180deg;
    --size: 0.45rem;
    height: calc(var(--size) * 3);
    width: var(--size);
    background: #d55530;
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: translateY(-50%) rotate(var(--direction));
    transform-origin: bottom center;
    transition: transform 500ms ease;
  }
}

// PREVIOUS WEATHER

.previous-day__temp {
  color: #d55530;
  font-size: 14px;
}

.previous-day__temp_2 {
  margin-top: -10px;
  color: #d55530;
  font-size: 14px;
}

.previous-day__sol {
  font-size: 25px;
  color: #464646;
  font-family: "Roboto";
}

.previous-weather {
  background: white;
  color: #464646;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(60%);
  transition: transform 350ms ease;
  padding: 3em;
}

.show-previous-weather {
  position: absolute;
  background: white;
  left: 50%;
  width: 10rem; //tamaño pestaña
  transform: translate(-50%, calc(-100% - 3rem));
  font-size: 2rem;
  color: #d55530;
  line-height: 1;
  //forma poligono
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  cursor: pointer;
  border: 0;

  &:hover,
  &:focus {
    color: #bd4827;
  }

  span {
    display: block;
    transform: rotate(0);
    transition: transform 300ms ease;
  }
}

.previous-days {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.previous-weather__title {
  text-align: center;
}

.previous-day {
  opacity: 0;

  &__date {
    font-size: 0.9rem;
    color: #aca6a6;
    font-size: 13px;
    margin-top: -30px;
  }
}

.show-weather.previous-weather {
  transform: translateY(0);
  .show-previous-weather span {
    display: block;
    transform: rotate(180deg) translateY(-6px);
  }

  .previous-weather__title,
  .previous-day {
    animation: slideUpIn 750ms forwards;
  }

  .previous-weather__title {
    text-align: left;
  }

  //pequeña animacion next 7 days

  .previous-day:nth-child(1) {
    animation-delay: 100ms;
  }
  .previous-day:nth-child(2) {
    animation-delay: 125ms;
  }
  .previous-day:nth-child(3) {
    animation-delay: 150ms;
  }
  .previous-day:nth-child(4) {
    animation-delay: 175ms;
  }
  .previous-day:nth-child(5) {
    animation-delay: 200ms;
  }
  .previous-day:nth-child(6) {
    animation-delay: 225ms;
  }
  .previous-day:nth-child(7) {
    animation-delay: 300ms;
  }
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//RESPONSIVE MOVIL MIN

@media screen and (max-width: 670px) {

  .wind__direction{
    left: 73%;
  }
  .verticalLine{
    left: 45%;
  }
  .previous-days{
    display: flex;
    padding: 0em;
  }
  .previous-day__temp{
    font-size: 12px;
  }
  .previous-day__temp_2{
    font-size: 12px;
  }
  .previous-day__sol{
    font-size: 19px;
  }
  .previous-day__date{
    font-size: 12px;
    margin-top: -25px;
  }
}


//MENU GUARDAR TEMPERATURAS

.checkout{
  color: #998E8E;
  margin-left: 3rem;
  margin-top: 2rem;
  cursor: pointer;
}

//prueba responsive

@media screen and (max-width: 848px) {

  .wind__direction{
    left: 73%;
  }
  .verticalLine{
    left: 45%;
  }
  .previous-days{
    display: flex;
    padding: 0em;
  }
  .previous-day__temp{
    font-size: 12px;
  }
  .previous-day__temp_2{
    font-size: 12px;
  }
  .previous-day__sol{
    font-size: 19px;
  }
  .previous-day__date{
    font-size: 12px;
    margin-top: -22px;
  }
}

@media screen and (max-width: 851px) {

  .wind__direction{
    left: 73%;
  }
  .verticalLine{
    left: 45%;
  }
}


//MENU LATERAL

body {
  --header-height: 50px;

  margin: var(--header-height) 0 0 0;
  
}

.preload * {
  transition: none !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  
  height: var(--header-height);
  background: #ee8239;
  display: flex;
}

.header__button {
  width: var(--header-height);
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 250px;
  background: #E3E2E0;
  transform: translateX(-250px);
  transition: transform 0.3s;
}

.nav--open .nav__links {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
  display: flex;
  align-items: center;
  color: #666666;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 12px 15px;
  background: transform 0.2s;
}

.nav__link > i {
  margin-right: 15px;
}

.nav__link--active {
  color: #009578;
}

.nav__link--active,
.nav__link:hover {
  background: #eeeeee;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(219, 213, 211, 0.5);
  
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}



//guardar temperaturas
.caja {
  padding: 1em;
  height: 100%;
}

.listaUsers {
  padding: 1em;
  margin: 2em 0;
  background-color: #ee8239;
  border-radius: 30px;
}
.listaUsers h2 {
  margin: 0.5em 0;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}
.listaUsers article {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}
.listaUsers article div {
  padding: 5px;
}
.listaUsers article span {
  display: inline-block;
  min-width: 80px;
  font-weight: bold;
  margin: 0 10px;
  color: white;
}



.boton_temp{
  color: white;
  background-color: #A9A9A9;
  border-radius: 50px;
  text-decoration-style: none;
  padding: 0.5rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.reset{
  margin-left: 2rem;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

